@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
  .content{
    width: 100%;
  }

  /*название таблицы*/
    .table-caption{
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
    }
  /*название таблицы*/

  /*границы таблицы*/
    .price-table{
      border-spacing: 0;
      border-collapse: collapse;
      overflow: hidden;
      font-family: 'Roboto', sans-serif;
    }
    .price-table th,.price-table td {
      border: 1px solid #dee2e4;
      padding: 15px;
      position: relative;
    }
  /*границы таблицы*/

  /*содержимое таблицы*/
    /*шапка таблицы*/
      .top-captions th{
        background-color: #1977cc;
        color:#fff;
        width:15%;
      }
      .price-table th:first-child{
        background-color:transparent;
      }
    /*шапка таблицы*/

    /*левый столбец таблицы*/
      .left-caption{
        text-align: left;
        font-size: 14px;
      }
      .medium-size{
        font-weight: 400;
      }
      .upper-size{
        font-size: 16px;
      }
    /*левый столбец таблицы*/
    .price-table td{
      font-weight: 500;
      text-align: center;
        white-space: nowrap;
    }
    .price-table .blue-price{
      color: #1977cc;
    }
    @media(max-width:671px){
      .scroll{
        overflow-x:scroll;
      }
    }
  /*содержимое таблицы*/

  /*заливка поля при ховере*/
    .price-table tr:hover{
        background-color: #f1f1f1;
    }
    .price-table tr:first-child:hover{
      background-color: transparent;
    }
  /*заливка поля при ховере*/

  /*заливка столбца при ховере*/
    .shadow{
      position: absolute;
      top:-1px;
      left:-1px;
      border: 1px solid transparent;
      height: 2000px;
      width: 100%;
      box-shadow: 0 0 25px rgba(0,0,0,0.3);
      display: none;
    }
    .active>.shadow{
      display: block;
    }
    th.active{
      background-color: #5aa7ed;
    }
    th.active::before,th.active::after{
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 1px;
      top:0;
      background-color: #5aa7ed;
    }
    th.active::before{
      left:-1px;
    }
    th.active::after{
      right:-1px;
    }
  /*заливка столбца при ховере*/
