@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/**************
**калькулятор**
**************/
  .calc{
    display: inline-block;
    position: relative;
    background-color: #d9e1e5;
    /*width: 80%;*/
    margin-left:20px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
  }

  .calc-content{
    margin-top: -30px;
  }
  @media(max-width:767px){
    .calc{
      padding: 5px;
    }
    .calc-content{
      margin-top: -5px;
    }
  }
  /*Шапка калькулятора*/
    .calc-caption{
      display: inline-block;
      position: relative;
      width: 100%;
      margin-left: -55px;
      background:linear-gradient(to left,#0b8196,#01abc9,#0b8196);
      color:#fff;
      box-shadow: 1px 3px 1px #aaa;

    }
    .calc-caption p{
      font-size: 14px;
      text-align: center;
      font-weight: 500;
      padding: 0 10px;
    }
    /*уголки*/
      .calc-caption::after{
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        left:100%;
        right: -85px;
        top:0;
        background:linear-gradient(to right bottom,#0b8196 50%,rgba(0,0,0,0.4) 50%,transparent 55%);
      }
      .calc-caption::before{
        content: '';
        display: block;
        position: absolute;
        width: 25px;
        height: 10px;
        top:100%;
        left:0;
        background:linear-gradient(to left bottom,#0b8196 50%,transparent 50%);
      }
      @media(max-width:767px){
        .calc-caption{
          margin-left: -30px;
        }
        .calc-caption::after{
          right: -35px;
          background: #0b8196;
          box-shadow: 1px 3px 1px #aaa;
        }
      }
    /*уголки*/
  /*Шапка калькулятора*/

  /*Вопросы*/
    .calc-contant{
      margin-top: 20px;
    }
    .calc-ques{
      display: inline-block;
      width: 49%;
      margin: 0;
    }
    .calc-ques p{
      font-weight: 500;
      margin: 0;
      margin-top: 10px;
    }
    .calc-ques input[type="radio"]{
      display: none;
    }
    .calc-ques ul{
      list-style: none;
      padding: 0;
      display: inline-block;
      margin: 10px 0;
    }
    .calc-ques ul li{
      display: inline-block;
    }
    .calc-ques ul li:nth-child(2){
        margin-right: 40px;
    }
    .calc-ques label,.select-but{
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #003c58;
      border-radius: 5px;
      cursor: pointer;
      color:#fff;
      text-align: center;
      padding-top: 15px;
      box-sizing: border-box;
      font-weight: 500;
    }
    .calc-ques label:hover,.select-but:hover{
      background-color: #007e97;
    }
    .select-but{
      padding-top: 3px;
      margin-right: 10px;
      border:0;
      outline: none;
      font-size:20px;
      font-weight: bold;
    }
    button[disabled],button[disabled]:hover{
      background-color: #003c58;
      cursor: auto;
    }
    .calc-ques input[type="radio"]:checked+li label{
      background-color: #007e97;
    }
    .select-blok{
      display: inline-block;
      position: relative;
      width: 170px;
      height: 50px;
      vertical-align: top;
      border-radius: 5px;
      border: 1px solid #aaa;
      margin-top: 10px;
      margin-right: 10px;
      white-space: nowrap;
    }
    /*Имитация селекта*/
     .calc-ques .droper-list{
        position: relative;
        margin: 0;
        background-color:#fff;
        vertical-align: top;
        border-radius: 0;
        border: none;
        outline: none;
        margin-left: -4px;
        border-left: 1px solid #aaa;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 35px;
        height: 100%;
      }
      .droper-list::before{
        content: '';
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        margin-top: -7px;
        margin-left: -7px;
        width:12px;
        height: 12px;
        background: linear-gradient(to top left,#00abc9 50%,transparent 50%);
        transform:rotate(45deg);
      }
      .calc-ques .drop-selcet:hover{
        background-color: #fff;
      }
      .calc-ques input[type="text"]{
        display: inline-block;
        width: 121px;
        padding: 0 7px;
        height: 50px;
        border: 0;
        outline: none;
        color:#aaa;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .drop-list{
        position: absolute;
        list-style: none;
        left: -1px;
        right: -1px;
        top:47px;
        border: 1px solid #aaa;
        background-color: #fff;
        margin: 0 !important;
        padding: 0;
        z-index: 3;
      }
      .drop-list.hidden{
          display: none;
      }
      .drop-list.active{
        display: block;
      }
      .drop-list>li{
        display: block !important;
        margin: 0 !important;

      }
      .drop-list .drop-list-item{
          padding: 5px;
          text-align: left;
          background-color: #fff;
          color:#000;
          display: block;
          width: 100%;
          height: auto;
          font-weight: normal;
          font-size: 12px;
          border-radius: 0;
      }
      .drop-list .drop-list-item:hover{
        color:#fff;
      }
    /*Имитация селекта*/

    /*селект*/
      .droper::before{
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top:0;
        height: 100%;
        width: 34px;
        border-left:1px solid #aaa;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #fff;
        cursor: pointer;
      }
      .droper::after{
        content: '';
        display: block;
        position: absolute;
        top:50%;
        margin-top: -7px;
        right:12px;
        width:12px;
        height: 12px;
        background: linear-gradient(to top left,#00abc9 50%,transparent 50%);
        transform:rotate(45deg);
      }
      .calc-ques select{
        position: relative;
        -webkit-appearance:none;
        -moz-appearance: none;
        border: none;
        outline: none;
        width: 100%;
        height: 50px;
        padding: 0 7px;
        background: linear-gradient(to right, #fff 135px, transparent 135px);
        cursor: pointer;
        z-index: 1;
        color: #aaa;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
      }
      .select-stub{
        position: absolute;
        top:0;
        left:0;
        height: 50px;
        width:134px;
        z-index: 2;
      }
    /*селект*/
    @media(max-width:989px){
      .calc-ques{
        text-align: center;
        width: 100%;
      }
    }
  /*Вопросы*/
/**************
**калькулятор**
**************/
