/*--General information--*/
  p{
    word-wrap: break-word;
  }
  body{
    margin: 0 auto;

    background-color: #FaFaFa;
  }
  /*--Captions--*/
   .caption{
      margin-top: 5%;
      text-align: center;
    }
    .caption p{
      color:#777;
      padding: 10px;
    }
    .caption h1{
      font-size: 48px;
    }
    @media(max-width:768px){
      .caption{
        margin-top: 10%;
      }
    }
    .hidden{
      display: none;
    }
    .vision{
      display: block;
    }
  /*--Captions--*/
  .animation{
    transition-duration: 0.75s;
    transition-property: left, right, z-index;
    transition-timing-function: ease-in-out;
  }
/*--General information--*/



/*Home*/
  header{
    background: url('../images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
    height: 100vh;
  }
  /*--Navigator--*/
  .navi .phone>a{
    color:#fff;
  }
  .navi{
    position: fixed;
    z-index: 999;
    background-color: #028fcc;
    /*max-width: 100vh;*/
    min-width: 300px;
  }
  .navi .content{
    height: 50px;
    white-space: nowrap;
  }
  .navi-but{
    width: 150px;
    height: 50px;
    background-size: 50%;
    border: 0;
    outline: none;
    text-align: center;
    padding: 12px;
  }
  .icon-bar{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
  }
  .list a:focus+ol{
    display: block;
  }
  .navi .list{
    display: inline-block;
  }
    .navi ol{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .navi li{
      display: inline-block;
    }
    .navi li:hover{
      background-color: #026fac;
    }
    .navi li a{
      color:#fff;
      padding: 15px 5px;
      display: block;
      white-space: nowrap;
    }
    .navi a:hover{
      text-decoration: none;
    }
    .navi .content .phone{
      margin-top: 13px;
      float: right;
    }
    @media (max-width: 915px){
      .navi ol {
          border-top: 1px solid #026fac;
          position: absolute;
          background-color: #028fcc;
          text-align: center;
          left:0;
          right:0;
        }
        .navi-ol-vision{
          display: block;
        }
        .navi-ol-hidden{
          display: none;
        }
        .navi li{
          display: list-item;
          margin: 0 ;
        }
        .navi-but{
          display: block;
          cursor: pointer;
        }
        .navi li a{
          padding: 15px;
          display: inline-block;
          width: 100%;
        }
        .navi .container{
          margin-left: 0;
        }
      }
    @media(min-width:916px){
      .navi-but{
          display: none;
        }
    }
  /*--Navigator--*/
/*--Content--*/
    #home .mid{
      margin-top: 300px;
      text-align: center;
    }
    #home .mid h1{
      margin-bottom: 20px;
      font-size: 48pt;
    }
    #home .mid h4{
      margin-bottom: 28px;
    }
    #home .mid span{
      position: absolute;
      text-align: center;
      width: 100%;

    }
    .home-btn{
      display: inline-block;
      background-color: #FF9700;
      padding: 10px 40px;
      border-radius: 25px;
      color:#fff;
      font-size: 14pt;
      user-select:none;
    }
    .home-btn:hover{
      box-shadow: 0 0 1px #000;
      background-color:#EF8700;
    }
    .home-btn:active{
      box-shadow: inset 0 1px 1px #000;
      background-color:#DF8000;

    }
    @media(max-width:768px){
      #home .mid{
        margin-top: 30%;
      }
    }
  /*--Content--*/

  /*--Video button--*/
    .video-screen{
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      vertical-align: middle;
    }
    .video-block{
      margin-top: 25vh;
    }
    iframe{
      width: 100%;
      height: 50vh;
    }
    .video{
      position: absolute;
    bottom: 3%;

    }
    .video a{
      color:#fff;
      display: inline-block;
      margin-left: 70px;
    }
    .video::before{
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: linear-gradient(to bottom left,#fff 50%,transparent 50%);
      transform: rotate(45deg);
      top:5px;
      left:25px;
    }
    .video::after{
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      border: 5px solid #fff;
      top:-10px;
    }
    .video:hover{
      cursor: pointer;
    }
    .video:hover a{
      color: #378;
    }
    .video:hover::after{
      border-color:#378;
    }
    .video:hover::before{
      background:linear-gradient(to bottom left,#378 50%,transparent 50%);
    }
    /*@media(max-width:767px) {
      .video-block{
        margin-top: 150px;
      }
    }*/
  /*--Video button--*/
/*--Home--*/



/*--Service--*/
#service .slick-list{
  /*width: 100%;*/
  margin: 0 auto;
  overflow: hidden;
}
#service .item{
  text-align: left;
}
#service .slick-dots{
  list-style-type: none;
  display: inline-block;
  margin-top: 50px;
  padding: 0;
}
#service .regular button{
  display: none !important;
}
 #service .slick-dots li{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #777;
   border:2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 0 1px #777;
   margin: 5px;
   vertical-align: middle;
   bottom: 0;
   cursor: pointer;
}
 #service .slick-dots .slick-active{
   width:25px;
   height:25px;
   margin: 2.5px;
   background-color: orange;
   box-shadow: 0 0 0 1px orange;
 }
  #service .contant{
    margin-top: 15vh;
    text-align: center;
  }
  @media(max-width:768px){
    #service .item{
      text-align: center;
    }
    #service .item{
      margin-top:20px;
    }
  }
/*--Service--*/



/*--About--*/
    #about .content{
      height: 94%;
      margin-top:50px;
      position: relative;
    }
    .search{
      margin-top: 20px;
      white-space: nowrap;
      }
    .search img{
      margin-left: 100px;
    }
    .search input{
      outline: none;
      border: none;
      background-color: transparent;
    }
    .search:focus{
      border-bottom: 1px solid #bbb;
    }
    #about ul{
      display: none !important;
    }
    #about .item{
      text-align: center;
      color: #fff;
      position: relative;

    }
      #about .item span{
      position: absolute;
      left:0;
      right: 0;
      top:15%;
    }
      #about .item img{
      width: 100%;
    }
      #about .item h3{
      display: inline-block;
      padding: 0 15px;
      background-color: rgba(0,0,0,0.2);
      border-radius: 50px;
    }
    #about .slider {
          width: 100%;
          margin: 100px auto;
          position: relative;
      }
      #about .slick-list{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
      }
      #about .slick-slide>div {
        margin: 0px 20px;
      }
      #about .next-line{
        margin-top: 20px;
      }
      #about .slick-slide img {
        width: 100%;
      }
      #about .slick-prev:before,
      #about .slick-next:before {
        content: "\2192";
        position: absolute;
        font-size: 30px;
        color: black;
        display: block;
        left:-6px;
      }
      #about .slick-prev:before{
        content: "\2190";
        left:0;
      }
      #about .slick-prev:hover:before,
      #about .slick-next:hover:before{
        color:orange;
      }

      #about .next-line:nth-child(3){
        margin-top: 0;
      }
      #about .slick-prev, .slick-next {
        font-size: 16px;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        background-color:transparent;
        border: none;
        outline: none;
        z-index: 999;
      }
      #about .slick-next {
          right:5%;
      }
      #about .slick-prev{
        left:5%;
      }
    @media(max-width:1199px){
      #about .item h3{
      font-size: 18px;
      }
      #about .item span{
      top:10%;
      }
    }
    @media(max-width:991px){
      #about .next-line:nth-child(3){
        margin-top: 20px;
      }
    }
    @media(max-width:767px){
      #about .slick-prev:before,
      #about .slick-next:before {
        font-size:20px;
      }
      #about .slick-list{
        width: 90%;
      }
      #about .slick-next {
          right:1%;
      }
      #about .slick-prev{
        left:1%;
      }
      #about .item{
        padding: 3px;
      }
      #about .slider {
        margin: 30px auto;
      }
      #about .item span{
        top: 0;
    }
    .search img{
      margin-left: 0;
    }
  }
/*--About--*/


/*--Blog--*/
  #blog .content{
    padding-top:100px;
    text-align: center;
  }
  .left{
    padding: 0;
  }
  .left-top{
    margin-bottom: 10%;
  }
  .left-bottom{
    background-color: #fff;
  }
  .mid-bottom{
    margin-top: 157px;
  }
  .right-bottom>div:last-child{
    background-color: #fff;
    padding: 15px;
  }
  .right-bottom{
    margin-top: 117px;
  }
  #blog img{
    width: 100%;
  }
  #blog .content p{
    color:#333;
    font-size: 10pt;
  }
  #blog .home-btn{
    margin-top: 75px;

  }
  @media(max-width:1199px){
    #blog .mid>div{
      margin-top:55px;
    }
  }
  @media (max-width:767px) {
    #blog .bottom, .left-top,.left-top,.mid-bottom,.right-bottom{
      margin-top:80px;
    }
  }
/*--Blog--*/



/*--Clients--*/
#clients .slider {
      text-align: center;
      margin-top:100px;
      margin-bottom:100px;
      position: relative;
  }
  #clients .slick-list{

    margin: 0 auto;
    overflow: hidden;
  }
#clients .item img{
  width: 100%;
  /*float: left;*/
  display: inline-block;
}
#clients .item .info {
  padding-left: 30px;
}
#clients .item .info h5:nth-child(2){
  color: orange;
  margin-top: 15%;
}
#clients .slick-list{
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}
#clients .slick-dots{
  list-style-type: none;
  display: inline-block;
  margin-top: 50px;
  padding: 0;
}
#clients .regular button{
  display: none !important;
}
 #clients .slick-dots li{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #777;
   border:2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 0 1px #777;
   margin: 5px;
   vertical-align: middle;
   bottom: 0;
   cursor: pointer;
}
#clients .item{
  background-color: #fff;
  border:1px solid #eee;
  border-radius: 10px;
  z-index: -999;
  padding: 20px;
}
 #clients .slick-dots .slick-active{
   width:25px;
   height:25px;
   margin: 2.5px;
   background-color: orange;
   box-shadow: 0 0 0 1px orange;
 }

  @media(max-width:767px){
    #clients .item{
      text-align: center;
    }
    #clients .item{
      margin-top:20px;
    }
    #clients .slider {
      margin-top: 50px;
    }
  }
/*--Clients--*/

/*--Contacts--*/
  #contact .slider {
        text-align: center;``
        margin: 100px auto;
        position: relative;
    }
    #contact .slick-list{

      margin: 0 auto;
      overflow: hidden;
    }
  .cap{
    margin-top: 49px;
    color:#fff;
    background-color: orange;
    padding: 50px 0;
    }
    .cap a{
      display: inline-block;
      margin-top: 11px;
      font-size: 18px;
      color: #fff;
      padding: 10px 25px;
      border: 3px solid #fff;
      border-radius: 25px;
      white-space: nowrap;
      float: right;
    }
    .cap .container>div>div{
      text-align: center;
    }
    .cap a:hover{
      background-color: #FF9700;

    }
    .cap a:active{
      border-color:#e5e5e5;
      background-color: #EF8700;
    }
    footer{
      margin-top: 200px;
    }
    footer ul{
      list-style: none;
      color:#777;
      padding: 0;
    }
    footer .bot{
      margin-top: 80px;
      text-align: center;
    }
    footer a{
      display: inline-block;
      background-color: #777;
      border-radius: 50%;
    }
    footer a:hover{
      background-color: orange;
    }
    @media(max-width:1199px){
      footer{
        text-align: center;
        margin-top: 100px;
      }
      .cap a{
        float: none;
      }
    }
    @media(max-width:767px){
      footer{
        margin-top: 50px;
      }
    }

/*--Contacts--*/
